<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Verify Email</title>

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script>

    var userid = "[[${userid}]]";

    function verifyEmail() {
        document.getElementById("userprops").value = "";
        console.log("verifyEmail.....");

        const Http = new XMLHttpRequest();

        //var userid = '12345';

        const url='http://localhost:8086/user/' + userid + '/emailverifiedbyid/1';
        console.log(url);
        Http.open("PUT", url);
        Http.send();

        Http.onreadystatechange = function() {
            console.log(Http.responseText);
            if(this.readyState == 4) {  // request completed
                if(this.status > 299) {
                    alert("User could not be activated !");
                    document.getElementById("userprops").value = "User could not  be activated !";
                }
                else {
                    document.getElementById("userprops").value = "User successfully activated...";
                }
            }
        }
    }
    </script>

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Remote Test Lab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books">Users Information</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/manager">Login Page <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Verify your email</h1>
        <p class="lead" id="text1">
            To complete your account creation you must verify your email. To do so, please
            click the "Verify" button </p>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <div class="text-center">
                    <h6>UserId: <span th:text="${userid}"></span></h6>
                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-danger btn-lg btn-block"
                        onclick=verifyEmail()>Verify
                </button>
            </div>
            <div class="col-sm-4">
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
                <h5>Info Area:</h5>
            </div>
            <div class="col-sm-1">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
                <textarea id="userprops" rows="15" cols="130"></textarea><br>
            </div>
            <div class="col-sm-1">
            </div>
        </div>

    </div>

    <br><br>


</main><!-- /.container -->

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>